:root {
    --my-purple: #583F99; /* Main purple color */
    --my-gray: #707070;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "asap";
    src: url('fonts/asap-variable.ttf') format('truetype');
}

body {
    padding-top: 50px; /* for the fixed header height */
    font-family: "asap", sans-serif;
    position: relative;
    background-color: rgb(247, 247, 247);
}

.main-page {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('images/bg-image.webp');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 1;
    z-index: -1;
}

/* BG slightly narrow view */
@media (max-aspect-ratio: 16/11) {
    .main-page {
        background-size: 125% auto;
    }
}

/* BG Tablet view */
@media (max-aspect-ratio: 4/5) {
    .main-page {
        background-size: 180% auto;
    }
}

/* Background Mobile */
@media (max-aspect-ratio: 10/16) {
    .main-page {
        background-size: 235% auto;
    }
}

/* Fade in on load (JS) */
.content {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.content.active {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

.content.fade-out {
    opacity: 0;
}

/* Header */
#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    height: 50px;
}

/* Navigation links */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--my-purple);
}

nav ul li a.active {
    font-weight: bold;
    text-decoration: underline;
}

/* Header site name */
.name {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    align-items: center;
    gap: 20px;
}

/* H1 for Accesibility */
.name h1 {
    font-size: 1.25rem /* Use rem so the user can enlarge texts using browser settings */
}

/* Social icon styling */
.social-icons a {
    margin-left: 10px;
    text-decoration: none;
}

.social-icons img {
    width: 19px;
    height: 19px;
    vertical-align: middle ;
}

.social-icons svg path {
    transition: fill 0.2s ease;
}

.social-icons a:hover svg path {
    fill: var(--my-purple);
}

/* Header Mobile view */
@media (max-aspect-ratio: 10/16) {
    .name, .social-icons {
        display: none;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        list-style: none;
        gap: 70px
    }

    nav ul li a {
        font-size: 18px;
        padding: 10px 15px;
        display: block;
    }
}

/* Portfolio Grid Section */
#portfolio {
    padding-top: 60px;
    padding-left: 5%;
    padding-right: 5%;
}

.filter-button-container {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.filter-button {
    font-family: inherit; /* I don t know why but it does not get the font without this :/ */
    margin-bottom: 30px;
    margin-right: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease, padding 0.2s ease;
}

.filter-active {
    color: white;
    border: none;
    background-color: black;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px 30px;
}

.filter-button:hover {
    color: white;
    background-color: black;
    font-weight: bold;
}

.show { /* For filtered elements */
    display: block !important;
  }
  
  /* Filter Buttons Mobile View */
@media (max-aspect-ratio: 10/16) {
    .filter-button-container {
        margin-top: 30px;
    }
    .filter-button {
        margin-bottom: 40px;
    }
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portfolio-item {
    display: none; /* Hides all the items by default so the filters would work */
    position: relative;
    aspect-ratio: 4 / 3;
    border-radius: 5px;
    overflow: hidden;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.overlay .text h2 {
    margin-bottom: 10px;
}

.overlay .text p {
    color: rgb(210, 210, 210);
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Portfolio Grid Tablet view */
@media (max-aspect-ratio: 4/5) {
    .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Portfolio Grid Mobile view */
@media (max-aspect-ratio: 10/16) {
    #portfolio {
        padding-top: 30px;
    }
    .portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    #portfolio {
        padding-left: 3%;
        padding-right: 3%;
    }
}

/* Work presentation pages */
.presentation-page {
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.presentation-page.horizontal {
    flex-direction: row;
    gap: 100px;
}

.presentation-item {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}

.presentation-page-text {
    line-height: 1.5;
    text-align: center;
}

.presentation-page-date {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
    color: var(--my-gray);
}

/* Presentation Page Mobile view */
@media (max-aspect-ratio: 10/16) {
    .presentation-page {
        width: 95% !important;
    }
    .presentation-page.horizontal {
        flex-direction: column;
        gap: 10px;
    }
}

/* About section */
.about-content {
    text-align: center;
    margin-top: 70px;
    padding-left: 5%; /* For mobile scaling */
    padding-right: 5%;
}

.about-content h1 {
    font-size: 2.5rem;
    margin-top: 10px;
    font-weight: bold;
}

/* Work experience formatting */
.about-content h2 {
    color: var(--my-purple);
    margin-top: 40px;
    line-height: 2;
    font-weight: bold;
}

.about-content p {
    margin: 5px 0;
    line-height: 1.5;
}

.about-content strong {
    font-weight: 600;
}

.about-content weak {
    color: var(--my-gray);
}

.about-content .work-experience-item {
    margin-bottom: 20px;
}

.about-content .education {
    margin-top: 30px;
}

.about-mail {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
    font-weight: 600;
}

.about-mail:hover {
    color: var(--my-purple);
    text-decoration: none;
}

.about-contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flip-card {
    align-items: center;
    background-color: transparent;
    width: 150px;
    height: 150px;
    perspective: 1000px;
    margin: 0 auto; /* Center horizontally */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    transform: rotateY(180deg);
}
  
.resume-button {
    margin-top: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 25px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
  }

  .resume-button:hover {
    color: white;
    background-color: black;
    font-weight: bold;
  }

  ul.skills-list li {
    display: inline-block;
    padding: 10px;
  }

  /* About Mobile View */
  @media (max-aspect-ratio: 10/16) {
    .about-content {
        margin-top: 30px;
    }
}

/* Footer */
footer {
    text-align: center;
    color: var(--my-gray);
    padding: 50px;
    background-color: transparent
}
